@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-primary {
  @apply px-5 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700 transition;
}
.btn-dark {
  @apply px-5 py-2 rounded-lg bg-zinc-800 text-white hover:bg-zinc-900 transition;
}
.btn-blue {
  @apply px-5 py-2 rounded-lg bg-blue-800 text-white hover:bg-blue-900 transition;
}